

body {
  
  font-family: 'Lato', sans-serif;
  padding-top: 54px;
  color: #140c14ab;
  background-color:#c4c4c46b; 
  margin:0;
}
.section {
  color: #140c14ab;
  background-color: rgb(245, 241, 241);
  padding: 15px;
  margin-bottom: 10px;
  border: 1px;
-webkit-box-shadow: 0px 10px 13px -7px #f5efef1f, 5px 5px 15px 5px rgba(240, 235, 235, 0.178); 
box-shadow: 0px 10px 13px -7px #f7f5f521, 5px 5px 15px 5px rgba(245, 243, 243, 0.247);
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';;
  font-weight: 700;
  text-transform: uppercase;
  color: #0B467e;
  text-decoration: unset;
  text-align: center;
  
}

h1 {
  display: grid;
  width: 100%;
  font-size: 4rem;
 

}

h1 span {
  color: #000000;
  font-weight: 900;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 0.9em;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: .15em solid rgb(0, 217, 255);
  animation-name: typeWriter, lineBlinker;
  animation-iteration-count: 1, infinite;
  animation-timing-function: steps(14, end), steps(14, end);
  animation-duration: 4s,.75s;

}
@keyframes typeWriter {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
    @keyframes lineBlinker {
      0% {
        border-color: transparent; }
      50% {
        border-color: rgb(0, 204, 255); }
      100% {
        border-color: transparent; } }
      #intro-content h2 {
        color: #a0cfee;
        font-weight: 500;
        font-size: 2.25em;
        margin-bottom: 15px; }
h2 {
  font-size: 2.9rem;
  text-align: center;
  color: #000000;
}
h2 span{
font-family: 'American Typewriter', serif;
color: #074fc2be;

}

.heading {
  position: relative;
 
  font-size: 4rem;
  font-weight: 300;
  margin: 0 0 30px 0; }
  .heading:after {
    position: absolute;
    content: '';
    top: 100%;
    height: 1px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #0B467e;
}

h3 {
  font-size: 2rem;
  text-align: center;
  color: #000000;
}
h4{
  font-size: 2rem;
  text-align: center;
}
p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.2rem;
  text-align: center;
  color: #022f83c2;
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #282a2c;
  color: #000 !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: #0077B5;
}

.dev-icons {
  font-size: 3rem;
}

.dev-icons .list-inline-item i:hover {
  color: #0B467e;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
  outline-color: #00eeff;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
 
 #sideNav .img-profile{
  border: 0.3rem solid rgba(4, 220, 248, 0.582);
  border-radius: 50%;
 }
  #sideNav .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #0de70d  !important;
  background: radial-gradient(ellipse at bottom, #020202 0%, #090a0f 100%);

}
.text-primary {
  color: #00ffff !important;
}

a {
  color: #07ffff;
}

a:hover, a:focus, a:active, span {
  color: #00fafada;
}
.dates{
  text-align: center;
  color: #0B467e;
  
}

ul.a {
  list-style-type: square;
  color: #140c14ab;
}
ul.box{
 
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: #374054;
  background: #e4e4ea;
  list-style: none;
  cursor: default;
  font-size: 1.2em; 

}
form {
  text-align: center;
  margin-top: 0;
}
.submit {
  background-color: #0B467e;
  padding: 12px 45px;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  border: none;
  outline: none;
  margin: 0;
  font-weight: bold;
}
.submit:hover {
  background-color: #00a0a0;
}
textarea {
  height: 100px;
}
input, textarea {
  margin-bottom: 10px;
  font-size: 11pt;
  padding: 15px 10px 10px;
  border: 1px solid #cecece;
  background-color: #efefef;
  color: #787575;
  border-radius: 5px;
  width: 70%;
  outline: none;
}
.copyright {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 10px;
  color: #0B467e;
}
#contacts img {
  height: 50px;
  width: 50px;
  margin-left: 7px;
  margin-right: 7px;
}
#contacts a {
  text-decoration: none;
}
#contacts img:hover {
  opacity: 0.8;
}
#contacts {
  text-align: center;
}
.btn-rounded-white {
  display: inline-block;
  color: rgb(22, 5, 5);
  padding: 15px 25px;
  border: 3px solid rgb(3, 1, 1);
  
  transition: 0.5s ease all; 
text-align: center;
}
  .btn-rounded-white:hover {
    color: #00a0a0;
    background: #fff;
    text-decoration: none; }
